@import 'src/styles/variables.scss';

#project-list {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;

    img {
        min-width: 45.8%; // screen width: 1440 --> width: 660px
        height: 400px; // ONLY FOR TESTING
        background-color: gray; // ONLY FOR TESTING
    }

    .proj-desc {
        margin-top: -20px;
        display: flex;
        flex-direction: column;
    }
}

.technologies {
    list-style-type: none;
    // margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;

    li {
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: $color-main;
    }
}

.revers {
    flex-direction: row-reverse;
}

.right-align {
    text-align: right;
    align-items: flex-end;
}