<h1 class="section-title">Projects</h1>
<div id="project-list">
    <div class="project">
        <img src="" alt="">
        <div class="proj-desc">
            <h2>Project 1</h2>
            <ul class="technologies">
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo eligendi incidunt eveniet error ab nostrum nesciunt eum doloremque sint. Eum atque ducimus suscipit corporis quos? Sapiente nisi animi assumenda?</p>
        </div>
    </div>
    <div class="project revers">
        <img src="" alt="">
        <div class="proj-desc right-align">
            <h2>Project 2</h2>
            <ul class="technologies">
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>OOP</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo eligendi incidunt eveniet error ab nostrum nesciunt eum doloremque sint. Eum atque ducimus suscipit corporis quos? Sapiente nisi animi assumenda?</p>
        </div>
    </div>
    <div class="project">
        <img src="" alt="">
        <div class="proj-desc">
            <h2>Project 3</h2>
            <ul class="technologies">
                <li>HTML</li>
                <li>SCSS</li>
                <li>Typescript</li>
                <li>Angular</li>
                <li>Firebase</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo eligendi incidunt eveniet error ab nostrum nesciunt eum doloremque sint. Eum atque ducimus suscipit corporis quos? Sapiente nisi animi assumenda?</p>
        </div>
    </div>
</div>
