<div id="content">
    <div id="legals">
        <p>Imprint/Legal notice</p>
        <p>&copy; 2023 {{ contact.name }}</p>
    </div>
    <div id="contact-links">
        <a href="{{ contact.repo }}" target="_blank"><img src="assets/icons/github.png" alt="link to repository at {{ contact.repo }}"></a>
        <a href="mailto:{{ contact.email }}"><img src="assets/icons/email.png" alt="e-mail to {{ contact.email }}"></a>
        <a href="{{ contact.social.xing }}" target="_blank"><img src="assets/icons/xing.png" alt="link to xing profile at {{ contact.social.xing }}"></a>
    </div>
</div>