@use 'src/styles/variables';

footer {
    position: relative;
    width: 100%;
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: variables.$content-margin;
    margin-right: variables.$content-margin;
    padding-top: 30px;
    padding-bottom: 30px;

    #legals {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            font-size: 14px;
            line-height: 19px;
            color: variables.$color-minor_dark;
            margin: 0;
        }

        .legals-link {
            cursor: pointer;
        }
    }

    #contact-links {
        display: flex;
        gap: 50px;

        img {
            height: 40px;
            transition: transform 180ms ease-out;

            &:hover {
                transform: rotateZ(-15deg);
            }

            @media screen and (max-width: variables.$bp-7) {
                height: 32px;
            }
        }

        @media screen and (max-width: variables.$bp-6) {
            gap: 28px;
        }
    }

    @media screen and (max-width: variables.$bp-7) {
        flex-direction: column-reverse;
        justify-content: unset;
        padding-top: 22px;
        padding-bottom: 22px;
        gap: 18px;
    }
}