<footer class="shadow">
    <div id="content">
        <div id="legals">
            <p class="legals-link" routerLink="/legal-notice">Imprint/Legal notice</p>
            <p>&copy; 2023 {{ contact.name }}</p>
        </div>
        <div id="contact-links">
            <a href="mailto:{{ contact.email }}"><img src="assets/icons/email.png" alt="e-mail to {{ contact.email }}"></a>
            <a href="{{ contact.repo }}" target="_blank"><img src="assets/icons/github.png" alt="link to github at {{ contact.repo }}"></a>
            <a href="{{ contact.social.xing }}" target="_blank"><img src="assets/icons/xing.png" alt="link to xing profile at {{ contact.social.xing }}"></a>
            <a href="{{ contact.social.linkedIn }}" target="_blank"><img src="assets/icons/linkedin.png" alt="link to linkedIn profile at {{ contact.social.linkedIn }}"></a>
        </div>
    </div>
</footer>