<header>
    <div id="content">
        <ul>
            <li routerLink="/">
                <strong>HOME</strong>
                <div class="underline"></div>
            </li>
            <li>
                <a href="#skills">
                    SKILLS
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="#projects">
                    PROJECTS
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="#about">
                    ABOUT ME
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="#contact">
                    CONTACT
                    <div class="underline"></div>
                </a>
            </li>
        </ul>
    </div>
</header>
