<header id="header" [class.shadow]="scrollService.pageScrolled">
    <div id="content">
        <ul>
            <li routerLink="/">
                HOME
                <div class="underline"></div>
            </li>
            <li>
                <a href="#skills">
                    SKILLS
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="#projects">
                    PROJECTS
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="#about">
                    ABOUT ME
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="#contact">
                    CONTACT
                    <div class="underline"></div>
                </a>
            </li>
        </ul>
    </div>

    <!-- // Hamburger icon -->
    <input type="checkbox" id="checkbox1" class="checkbox1 visuallyHidden" [(ngModel)]="mobileMenuActive">
    <label for="checkbox1">
        <div class="hamburger hamburger1">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
            <span class="bar bar4"></span>
        </div>
    </label>
    <!-- Hamburger icon // -->

    <!-- // Mobile menu  -->
    <div id="menu-backdrop" *ngIf="mobileMenuActive" (click)="toggleMobileMenu()"></div>
    <div id="mobile-menu" [ngClass]="mobileMenuActive ? 'mobile-menu-active' : 'mobile-menu-hidden'">
        <a routerLink="/" (click)="toggleMobileMenu()">HOME</a>
        <a href="#skills" (click)="toggleMobileMenu()">SKILLS</a>
        <a href="#projects" (click)="toggleMobileMenu()">PROJECTS</a>
        <a href="#about" (click)="toggleMobileMenu()">ABOUT ME</a>
        <a href="#contact" (click)="toggleMobileMenu()">CONTACT</a>
    </div>
    <!-- Mobile menu // -->
</header>
