<header id="header" [class.shadow]="pageScrolled">
    <div id="content">
        <ul>
            <li routerLink="/">
                HoME
                <div class="underline"></div>
            </li>
            <li>
                <a href="#skills">
                    SKiLLS
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="#projects">
                    PRoJECTS
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="#about">
                    AbOUT ME
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="#contact">
                    CoNTACT
                    <div class="underline"></div>
                </a>
            </li>
        </ul>
    </div>
</header>
