@import 'src/styles/variables.scss';

header {
    position: relative;
    width: 100%;
    height: $content-header_height;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

a {
    text-decoration: none;
    color: unset;
}

#content {
    width: $bg-box_width-ratio;
    background-color: $color-minor_light;
    padding-left: 65px;
    padding-right: 50px;
    // height: $content-header_height;
    display: flex;
    align-items: center;

    ul {
        font-size: 16px;
        font-weight: 500;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 66px;
    }

    li {
        position: relative;
        cursor: pointer;

        .underline {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 2px;
            width: 0%;
            background-color: black;
            transition: width 180ms ease-out;
        }

        &:hover .underline {
            width: 100%;
        }
    }
}


// Hamburger icon____
// #hamburger-icon {
//     position: absolute;
//     // height: 100%;
//     right: 20px;
//     top: 0;
//     bottom: 0;
//     margin: auto 0;
// }

.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.hamburger {
    // margin: 0 auto;
    // margin-top: 30px;
    width: 30px;
    height: 30px;
    // position: relative;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: $color-minor_dark3;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.checkbox1:checked + label > .hamburger1 > .bar1{
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
}

// ____Hamburger icon


// Mobile menu____
#mobile-menu {
    position: absolute;
    top: calc($content-header_height + 10px);
    // right: -160px;
    // height: 8px;
    background-color: $color-minor_light;
    display: flex;
    flex-direction: column;
    // padding: 30px 30px 30px 0;
    // opacity: 0.7;
    overflow: hidden;
    justify-content: space-between;

    a {
        // margin-left: 20px;
        width: 100%;
        padding: 0 30px;
        color: $color-minor_dark3;

        &:first-child {
            margin-top: 30px;
        }

        &:last-child {
            margin-bottom: 30px;
        }

        &:hover, &:active {
            background-color: $color-minor_medium;
        }
    }
}

.mobile-menu-active {
    transition: right 180ms ease-out, height 300ms ease-out 230ms;
    right: 20px;
    height: 260px;
}

.mobile-menu-hidden {
    transition: right 85ms ease-in, height 10ms 85ms;
    right: -160px;
    height: 8px;
}

#menu-backdrop {
    // background-color: brown;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
// ____Mobile menu