@import 'src/styles/variables.scss';

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;

    img {
        min-width: 45.8%; // screen width: 1440 --> width: 660px
        height: 400px; // ONLY FOR TESTING
        background-color: gray; // ONLY FOR TESTING
    }

    .proj-desc {
        margin-top: -20px;
        display: flex;
        flex-direction: column;
    }

    .technologies {
        list-style-type: none;
        // margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    
        li {
            font-size: 16px;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: $color-main;
        }
    }

    .try-it-btns {
        $border: 1px solid $color-minor_dark;

        display: flex;
        justify-content: space-around;
        width: 100%;

        a {
            text-decoration: none;
            color: inherit;
            padding: 8px 16px;

            &:first-child {
                border-left: $border;
                border-bottom: $border;
            }
    
            &:last-child {
                border-right: $border;
                border-top: $border;
            }
        }
    }
}

.revers {
    flex-direction: row-reverse;
}

.right-align {
    text-align: right;
    align-items: flex-end;
}