@use 'src/styles/mixins';
// @import 'src/styles/variables.scss';
@use 'src/styles/variables';

a {
    text-decoration: none;
}

.project {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 80px;

    .img-container {
        position: relative;
        min-width: 45.8%; // screen width: 1440 --> width: 660px
        // max-width: 660px;
        height: 400px;
        background-color: gray;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        #in-pic-try-it {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(variables.$color-minor_light, 0.35);
            color: black;
            font-size: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0; // Will be displayed via @media
            transition: opacity 185ms ease;

            @media screen and (max-width: variables.$bp-1) {
                display: none;
            }
        }

        .try-it-btns-resp {
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            padding: 12px 0 12px;
            background: rgba(variables.$color-minor_light, 0.63);
            display: none; // Will be displayed via @media
            justify-content: space-evenly;

            a {
                color: black;
                // background-color: rgba(variables.$color-minor_light, 0.85);
                padding: 5px 28px;
                transition: background-color 230ms ease;
                display: flex;
                align-items: center;
                border-top-right-radius: 20px;

                .arrow-right {
                    width: 21px;
                    filter: variables.$filter_000-to-2e2e2e;
                }

                @include mixins.hover-supported() {
                    background-color: rgba(variables.$color-main, 0.45);
                }

                &:active {
                    background-color: rgba(variables.$color-main, 0.45);
                }
            }

            @media screen and (max-width: variables.$bp-1) {
                display: flex;
            }
        }

        &:hover #in-pic-try-it {
            opacity: 1;
        }

        @media screen and (max-width: variables.$bp-1) {
            height: 460px;
        }

        @media screen and (max-width: variables.$bp-4) {
            height: 400px;
        }

        @media screen and (max-width: variables.$bp-5) {
            height: 330px;
        }

        @media screen and (max-width: variables.$bp-7) {
            height: 280px;
        }

        @media screen and (max-width: variables.$bp-8) {
            height: 220px;
        }
    } // ____.img-container

    .proj-desc {
        margin-top: -20px;
        display: flex;
        flex-direction: column;
    }

    .proj-title {
        display: flex;

        .teamwork {
            font-size: 12px;
            padding: 4px 8px;
            background-color: rgb(254 227 131 / 65%);
            height: fit-content;
            border-radius: 7px;
            margin-left: 10px;
            margin-right: 10px;
            color: rgb(100 100 100);
        }
    }

    .technologies {
        list-style-type: none;
        // margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    
        li {
            font-size: 16px;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: variables.$color-main;

            @media screen and (max-width: variables.$bp-5) {
                font-size: 14px;
            }
        }

        @media screen and (max-width: variables.$bp-6) {
            gap: 12px;
        }
    }

    .try-it-btns {
        // width: 100%;
        display: flex;
        gap: 50px;

        a {
            text-decoration: none;
            color: variables.$color-minor_medium;
            padding: 8px 12px 8px 3px;
            border-bottom: 1px solid variables.$color-minor_medium;
            border-top-right-radius: 20px;
            display: flex;
            align-items: center;
            transition: all 230ms ease;

            .arrow-right {
                width: 21px;
                // height: 100%;
                // margin-right: 7px;
                filter: variables.$filter_000-to-999;
            }

            &:hover {
                color: variables.$color-minor_dark;
                background-color: variables.$color-minor_light;

                .arrow-right {
                    filter: variables.$filter_000-to-6d6d6d;
                }
            }
        }

        @media screen and (max-width: variables.$bp-1) {
            display: none;
        }
    }

    @media screen and (max-width: variables.$bp-1) {
        flex-direction: column;
        align-items: unset;
        max-width: 740px;
        margin: 0 auto;
    }

    @media screen and (max-width: variables.$bp-5) {
        gap: 50px
    }
} // ____.project

.revers {
    flex-direction: row-reverse;
}

.align-right {
    text-align: right;
    align-items: flex-end;
}

.justify-right {
    justify-content: flex-end;
}