@use 'src/styles/mixins';
// @import 'src/styles/variables.scss';
@use 'src/styles/variables';

.project {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 80px;

    .img-container {
        position: relative;
        min-width: 45.8%; // screen width: 1440 --> width: 660px
        // max-width: 660px;
        height: 400px;
        background-color: gray;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .try-it-btns-resp {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            display: none; // Will be displayed via @media
            justify-content: space-evenly;

            a {
                text-decoration: none;
                color: black;
                background-color: rgba(variables.$color-minor_medium, 0.83);
                padding: 8px 36px;
                transition: background-color 230ms ease;

                @include mixins.hover-supported() {
                    background-color: rgba(variables.$color-main, 0.75);
                }

                &:active {
                    background-color: rgba(variables.$color-main, 0.75);
                }
            }

            @media screen and (max-width: variables.$bp-1) {
                display: flex;
            }
        }

        @media screen and (max-width: variables.$bp-1) {
            height: 460px;
        }

        @media screen and (max-width: variables.$bp-proj-1) {
            height: 400px;
        }

        @media screen and (max-width: variables.$bp-proj-2) {
            height: 330px;
        }
    } // ____.img-container

    .proj-desc {
        margin-top: -20px;
        display: flex;
        flex-direction: column;
    }

    .proj-title {
        display: flex;

        .teamwork {
            font-size: 12px;
            padding: 4px 8px;
            background-color: rgb(254 227 131 / 65%);
            height: fit-content;
            border-radius: 7px;
            margin-left: 10px;
            margin-right: 10px;
            color: rgb(100 100 100);
        }
    }

    .technologies {
        list-style-type: none;
        // margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    
        li {
            font-size: 16px;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: variables.$color-main;

            @media screen and (max-width: variables.$bp-home-1) {
                font-size: 14px;
            }
        }
    }

    .try-it-btns {
        // width: 100%;
        display: flex;
        gap: 50px;

        a {
            text-decoration: none;
            color: variables.$color-minor_medium;
            padding: 8px 16px;
            border-bottom: 2px solid variables.$color-minor_medium;
            border-top-right-radius: 10px;
            display: flex;
            align-items: center;
            transition: all 230ms ease;

            &:hover {
                color: variables.$color-minor_dark;
                background-color: variables.$color-minor_light;
            }
        }

        @media screen and (max-width: variables.$bp-1) {
            display: none;
        }
    }

    @media screen and (max-width: variables.$bp-1) {
        flex-direction: column;
        align-items: unset;
        max-width: 740px;
        margin: 0 auto;
    }

    @media screen and (max-width: variables.$bp-home-1) {
        gap: 50px
    }
} // ____.project

.revers {
    flex-direction: row-reverse;
}

.align-right {
    text-align: right;
    align-items: flex-end;
}

.justify-right {
    justify-content: flex-end;
}