@import 'src/styles/variables.scss';

#content {
    width: 100%;
    padding: 78px $content-margin 120px;
    background-color: $color-main;
    display: flex;
    justify-content: space-between;

    #contact-info {
        font-size: 16px;
        line-height: 27px;
        color: $color-minor_dark2;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 40%;
        
        .contact-sub {
            display: flex;
            flex-direction: column;
            
            input, textarea {
                font-family: 'Poppins', 'sans-serif';
                font-size: 16px;
                color: $color-minor_dark2;
                outline: none;
                border: none;
                width: 100%;
                height: 50px;
            }

            textarea {
                resize: none;
                height: 150px;
            }
        }

        button {
            font-family: 'Sen', 'sans-serif';
            background-color: $bg-btn;
            font-weight: 700;
            font-size: 18px;
            color: white;
            padding: 24px 33px;
            border: none;
            cursor: pointer;
            transition: all 270ms ease-in;

            &:hover {
                transition: all 125ms ease-out;
                background-color: #ffc117;
                color: $bg-btn;
            }
        }
    }
}