<div id="content">
    <div>
        <h3>Let's talk business</h3>
        <p id="contact-info">Now that you learned about me, let me know if you're interested in working with me.</p>
    </div>
    <form (submit)="commitForm()" #mailForm ngNativeValidate>
        <div class="contact-sub">
            <label for="name">Name</label>
            <input required type="text" name="name" #name placeholder="Please enter your name ...">
        </div>
        <div class="contact-sub">
            <label for="email">Email</label>
            <input required type="email" name="email" #email placeholder="Please enter your mail address ...">
        </div>
        <div class="contact-sub">
            <label for="message">Message</label>
            <textarea required type="text" name="message" #message placeholder="Please type your message ..."></textarea>
        </div>
        <button>SEND MESSAGE</button>
    </form>
</div>