// Geometry
$content_max-width: 1440px;
$bg-box_width-ratio: 78%; // screen width: 1440px --> width: 1120px
$content-margin: 8.33%; // screen width: 1440px --> margin: 120px
$content-margin-small: 5%;
$content-header_height: 130px;
$content-header_height_small: 73px;
$section-home_height: 680px;
$section_margin-top: 100px;

// Colors
$text_page-title: #000000;
$text_section-title: #0B0A0A;
$text_subtitle: #111010;
$color-main: #FEE383;
$color-minor_light: #F6F6F6;
$color-minor_medium: #999999;
$color-minor_medium2: #7E7C7C;
$color-minor_dark: #6D6D6D;
$color-minor_dark2: #2E2E2E;
$color-minor_dark3: #0D0D0C;
$bg-btn: #0F0F10;

// Breakpoints
$bp-1: 1200px;
$bp-2: 925px;
$bp-home-1: 635px;
$bp-home-2: 560px;
$bp-home-3: 445px;
$bp-home-4: 370px;
$bp-proj-1: 768px;
$bp-proj-2: 625px;