// Geometry
$content_max-width: 1440px;
$bg-box_width-ration: 78%; // screen width: 1440px --> width: 1120px
$content-margin: 8.33%; // screen width: 1440px --> margin: 120px
$content-header_height: 137px; // Text heigt 25px + padding top 60px + padding bottom 52px
$section-home_height: 680px;
$section_margin-top: 100px;

// Colors
$text_page-title: #000000;
$text_section-title: #0B0A0A;
$text_subtitle: #111010;
$color-main: #FEE383;
$color-main_strong: #FDCC1E;
$color-minor_light: #F6F6F6;
$color-minor_medium: #999999;
$color-minor_medium2: #7E7C7C;
$color-minor_dark: #6D6D6D;
$color-minor_dark2: #2E2E2E;
$color-minor_dark3: #0D0D0C;
$bg-btn: #0F0F10;