<h2 class="section-title">About me</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi iure molestias reiciendis aut dolore minus quam necessitatibus, vero corporis obcaecati id asperiores adipisci ex illum eaque, architecto culpa neque commodi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet laborum magnam ipsa adipisci qui nam sint, labore dolores delectus non reprehenderit fugit, accusamus repellendus fugiat expedita culpa officia odio debitis.</p>
<img id="divider" src="assets/img/divider.png" alt="text divider">
<div id="layout">
    <div id="info">
        <div>
            <h5>EMAIL</h5>
            <span>{{ contact.email }}</span>
        </div>
        <div>
            <h5>ROLE</h5>
            <span>Front-End Developer</span>
        </div>
        <div>
            <h5>PHONE</h5>
            <span>{{ contact.phone.mobile }}</span>
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nihil obcaecati vitae odit impedit necessitatibus et, nemo delectus vel soluta enim quam corrupti, facere harum earum commodi eos nobis architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eum ratione magnam dolor id totam ipsum saepe? Nemo non quia voluptate animi, provident excepturi odit repellendus placeat at amet eligendi.</p>
</div>