<div id="about">
    <h2 class="section-title">About me</h2>
    <p><cite>“A user interface is like a joke. If&nbsp;you&nbsp;have&nbsp;to&nbsp;explain&nbsp;it, it&apos;s&nbsp;not&nbsp;that&nbsp;good.”</cite>&nbsp;&nbsp;&mdash;unknown</p>
    <p>I am a front-end developer specializing in building unique digital experiences for customers who appreciate out-of-the-box solutions. As a creative and structured problem solver with extraordinary conceptual skills I am passionate to develop intelligent web-apps&nbsp;&ndash; appealing but without frills.</p>
    <img id="divider" src="assets/img/divider.png" alt="text divider">
    <div id="layout">
        <div id="info">
            <div>
                <h5>EMAIL</h5>
                <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
            </div>
            <div>
                <h5>ROLE</h5>
                <span>Front-End Developer</span>
            </div>
            <div>
                <h5>PHONE</h5>
                <a href="tel:{{ contact.phone.mobile.link }}">{{ contact.phone.mobile.display }}</a>
            </div>
        </div>
        <p>I love what I am doing because I love challenges. And I highly value the opportunities offered by my job: Combine creative thinking with an analytical approach to visualize ideas and create intuitive and dynamic user experiences.</p>
        <p>In a nutshell: I am ambitious to create something special&nbsp;&ndash; digital solutions, which are plain and easy-to-use but with high attention to details embedded in a human-centered design.</p>
    </div>
</div>