// @import 'src/styles/variables.scss';
@use 'src/styles/variables';

#divider {
    width: 100%;
    height: 286px;
    // object-fit: cover;
    // object-position: center;
    background-image: url('../../../assets/img/divider.jpg');
    background-size: 240%;
    background-position-x: 73%;
    background-position-y: 95%;
    opacity: 0.7;

    @media screen and (max-width: variables.$bp-2) {
        height: 225px;
    }

    @media screen and (max-width: variables.$bp-home-2) {
        margin-left: -(variables.$content-margin__small);
        width: calc(100% + (variables.$content-margin__small * 2));
    }
}

.info-item {
    span, a {
        color: variables.$color-minor_dark2;
        font-size: 18px;
        line-height: 27px;
    }
}

a {
    text-decoration: none;
}

#layout {
    position: relative;

    #info {
        // position: relative;
        right: 80px;
        top: -80px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        background-color: variables.$color-main;
        padding: 40px 133px 40px 40px;
        width: max-content;
        float: right;
        margin: -150px 120px 73px 108px;

        @media screen and (max-width: variables.$bp-1) {
            margin-bottom: 25px;
            margin-left: 40px;
        }

        @media screen and (max-width: variables.$bp-2) {
            margin-right: 60px;
            padding: 32px 110px 32px 32px;
        }

        @media screen and (max-width: variables.$bp-home-2) {
            margin-left: auto;
            margin-right: auto;
            float: unset;
        }

        @media screen and (max-width: variables.$bp-home-3) {
            gap: 12px;
            padding: 20px 50px;
        }

        @media screen and (max-width: variables.$bp-home-4) {
            gap: 8px;
            padding: 20px;
        }
    } // ____#info
} // ____#layout

#cite-author {
    font-size: 12px;
    font-style: normal;
}