<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-section-home></app-section-home> -->
<!-- <div id="page-wrapper"> -->
    <!-- <div class="section-divider-thin section-wrap"><app-section-skills></app-section-skills></div>
    <div class="section-divider section-wrap"><app-section-projects></app-section-projects></div>
    <div class="section-divider section-wrap"><app-section-about></app-section-about></div> -->
<!-- </div> -->
<!-- <div class="section-divider"><app-contact-form></app-contact-form></div> -->
<app-footer></app-footer>