<div id="header"><app-header></app-header></div>
<app-section-home id="section-home"></app-section-home>
<!-- <div id="page-wrapper"> -->
    <div class="section-divider section-wrap"><app-section-skills></app-section-skills></div>
    <div class="section-divider section-wrap"><app-section-projects></app-section-projects></div>
    <div class="section-divider section-wrap"><app-section-about></app-section-about></div>
<!-- </div> -->
<div class="section-divider"><app-contact-form></app-contact-form></div>