// @import 'src/styles/variables.scss';
@use 'src/styles/variables';

$transition: opacity 250ms ease-out;

#skills-list {
    width: 100%;
    max-width: 965px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 45px;

    .skill {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        cursor: crosshair;

        span {
            font-weight: 500;
            width: 100px;
            text-align: center;
            // transition: $transition;

            @media screen and (max-width: variables.$bp-7) {
                width: 90px;
            }
        }

        .ico-black {
            height: variables.$skill-icon_height;
            opacity: 1;
            filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(161deg) brightness(98%) contrast(91%);
            transition: $transition;

            @media screen and (max-width: variables.$bp-7) {
                height: variables.$skill-icon_height__small;
            }
        }
    
        .ico-colored {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: variables.$skill-icon_height;;
            opacity: 0;
            transition: $transition;

            @media screen and (max-width: variables.$bp-7) {
                height: variables.$skill-icon_height__small;
            }
        }

        &:hover {
            span {
                color: variables.$color-minor_dark;
            }

            .ico-black {
                opacity: 0;
            }

            .ico-colored {
                opacity: 1;
            }
        }
    } // ____.skill

    @media screen and (max-width: variables.$bp-7) {
        gap: 25px;
    }
} // ____#skills-list