<h2 class="section-title">Skills</h2>
<div>
    <img src="assets/icons/html.png" alt="">
    <img src="assets/icons/css.png" alt="">
    <img src="assets/icons/javascript.png" alt="">
    <img src="assets/icons/typescript.png" alt="">
    <img src="assets/icons/api.png" alt="">
    <img src="assets/icons/angular.png" alt="">
    <img src="assets/icons/material.png" alt="">
    <img src="assets/icons/firebase.png" alt="">
    <img src="assets/icons/git.png" alt="">
    <img src="assets/icons/scrum.png" alt="">
</div>