// @import 'src/styles/variables.scss';
@use 'src/styles/variables';

#page-content {
    position: relative;
    width: 100%;
}

#legals-content {
    position: relative;
    margin: variables.$content-header_height variables.$content-margin 0;
    max-width: variables.$content_max-width;

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
        color: variables.$color-minor_dark3;
    }

    h4 {
        font-size: 18px;
        color: variables.$color-minor_dark2;
    }

    p {
        font-size: 16px;
        line-height: 20px;
        margin-top: 5px;
        margin-bottom: 30px;
    }

    li {
        font-size: 16px;
        color: variables.$color-minor_dark;
    }

    @media screen and (max-width: variables.$bp-2) {
        margin-top: variables.$content-header_height__small;
    }
} // ____#legals-content

#back-to-top {
    position: relative;
    bottom: 20px;
    right: 0px;
    margin-top: 20px;
    left: 0px;
    margin: 0 20px 0 auto;
    width: fit-content;
}