@import 'src/styles/variables.scss';

// #section-home {
//     display: block;
//     height: calc(100vh - $content-header_height);
// }

// #page-wrapper {
//     width: 100%;
//     padding: 0 $content-margin;
// }

.section-wrap {
    margin-left: $content-margin;
    margin-right: $content-margin;
}

.section-divider {
    margin-top: $section_margin-top;
}

.section-divider-thin {
    margin-top: 10px;
}