@use 'src/styles/variables';

.section-wrap {
    margin-left: variables.$content-margin;
    margin-right: variables.$content-margin;

    @media screen and (max-width: variables.$bp-5) {
        margin-left: variables.$content-margin__small;
        margin-right: variables.$content-margin__small;
    }
}

.section-divider {
    margin-top: variables.$section_margin-top;
}

.section-divider-thin {
    margin-top: 10px;
}