// @import 'src/styles/variables.scss';
@use 'src/styles/variables';

#project-list {
    display: flex;
    flex-direction: column;
    gap: 120px;

    @media screen and (max-width: variables.$bp-5) {
        gap: 75px
    }
}