@import 'styles/fonts.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    font-size: 18px;
    margin: 0;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}