@use 'styles/variables';
@import 'styles/fonts.scss';
// @import 'styles/variables.scss';

@mixin headline-font {
    font-weight: 700;
}

@mixin headline-layout {
    margin-block-start: 0;
    margin-block-end: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 100vw;
    margin-block: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: variables.$color-minor_dark;
    border-radius: 100vw;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin !important;
    scrollbar-color: variables.$color-minor_dark white !important;
}

html {
    scroll-behavior: smooth !important;
}

body {
    font-family: 'Poppins', 'sans-serif';
    font-size: 18px;
    margin: 0;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-padding: variables.$content-header_height 0 0 0;

    @media screen and (max-width: variables.$bp-home-1) {
        font-size: 16px;
    }
}

:target::before {
    content: "";
    display: block;
    height: variables.$content-header_height;
    margin-top: -(variables.$content-header_height);

    @media screen and (max-width: variables.$bp-2) {
        height: variables.$content-header_height__small;
        margin-top: -(variables.$content-header_height__small);
    }
}

h1 {
    @include headline-font();
    @include headline-layout();
    font-size: clamp(67px, 7.2vw, 80px);// 80px;
    color: variables.$text_page-title
}

h2 {
    @include headline-font();
    @include headline-layout();
    font-size: 60px;
    color: variables.$text_section-title;

    @media screen and (max-width: variables.$bp-home-1) {
        font-size: 44px;
    }
}

h3 {
    @include headline-font();
    @include headline-layout();
    font-size: 45px;
    color: variables.$text_subtitle
}

h4 {
    @include headline-font();
    @include headline-layout();
    font-size: 39px;
    color: variables.$color-minor_medium;

    @media screen and (max-width: variables.$bp-home-1) {
        font-size: 32px;
    }
}

h5 {
    @include headline-layout();
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: variables.$color-minor_medium2;
    opacity: 0.6;
}

p {
    line-height: 36px;
    color: variables.$color-minor_dark;

    @media screen and (max-width: variables.$bp-home-1) {
        // font-size: 16px;
        line-height: 28px;
    }
}

.section-title {
    margin-bottom: 52px;

    @media screen and (max-width: variables.$bp-home-1) {
        margin-bottom: 28px;
    }
}

.shadow {
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.4);
}