@import 'styles/fonts.scss';
@import 'styles/variables.scss';

@mixin headline-font {
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    font-size: 18px;
    margin: 0;
}

h1 {
    @include headline-font();
    font-size: 80px;
}

h2 {
    @include headline-font();
    font-size: 54px;
    color: $color-minor_medium;
}

.section-title {
    margin-bottom: 52px;
}