<div id="home">
    <section>
        <div id="img-box">
            <img src="assets/img/portrait.jpg" data-aos="zoom-in">
        </div>
        <div id="info-box">
            <h1 data-aos="fade-right">Hello,<br>I'm Christof<br>Mark.</h1>
            <div id="job-title" data-aos="fade-right" data-aos-delay="300">FRONT-END DEVELOPER</div>
        </div>
    </section>
    <div class="arrows" *ngIf="!scrollService.pageScrolled">
        <svg class="arrow arrow1">
            <path d="M0 0 L25 17 L50 0"></path>
        </svg>
        <svg class="arrow arrow2">
            <path d="M0 0 L25 17 L50 0"></path>
        </svg>
    </div>
</div>