@import 'src/styles/variables.scss';

#section-home {
    height: calc(100vh - $content-header_height);
}

section {
    position: relative;
    height: 77vh;
    max-height: $section-home_height;
}

#img-box {
    position: absolute;
    right: 0;
    width: $bg-box_width-ratio;
    height: 100%;
    background-color: $color-minor_light;
    display: flex;
    justify-content: flex-end;

    img {
        // margin-right: 20%;
        // margin-left: 100px;
        width: 73%;
        height: 100%;

        // --- ONLY FOR DEV
        filter: blur(10px);
        -webkit-filter: blur(10px);
        // --- ONLY FOR DEV

        object-fit: cover;
    }
}

#info-box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: $content-margin;

    h1 {
        max-width: 490px;
        margin-left: 30px;
        margin-top: 50px;
        text-shadow: 0 0 5px $color-minor_light;
    }

    #job-title {
        margin-top: 80px;
        padding: 40px 100px 40px 30px;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.2em;
        background-color: $color-main;
        width: max-content;
        text-align: center;
    }
}

// .arrows {
//     position: absolute;
//     bottom: 10px;
//     left: 0;
//     right: 0;
//     margin: 0 auto;
//     width: 50px;
//     height: 37px;
// }

.arrows {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.arrow {
    width: 50px;
    height: 17px;
    animation: arrow 2000ms infinite;
    -moz-animation: arrow 2000ms infinite;;
    -webkit-animation: arrow 2000ms infinite;

    path {
        stroke: $color-minor_dark;
        fill: transparent;
        stroke-width: 2px;
    }
}

.arrow1 {
    animation-delay: 0ms;
    -moz-animation-delay: 0ms;
    -webkit-animation-delay: 0ms;
}

.arrow2 {
    animation-delay: 800ms;
    -moz-animation-delay: 800ms;
    -webkit-animation-delay: 800ms;
}

@keyframes arrow {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

@-webkit-keyframes arrow {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes arrow {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}