// @import 'src/styles/variables.scss';
@use 'src/styles/variables';

#home {
    height: calc(100vh - variables.$content-header_height);
    margin-top: variables.$content-header_height;

    @media screen and (max-width: variables.$bp-2) {
        height: calc(100vh - variables.$content-header_height__small);
        margin-top: variables.$content-header_height__small;
    }
}

section {
    position: relative;
    height: 77vh;
    max-height: variables.$section-home_height;

    @media screen and (max-width: variables.$bp-2) {
        display: flex;
        flex-direction: column;
    }
}

#img-box {
    position: absolute;
    right: 0;
    width: variables.$bg-box_width-ratio;
    height: 100%;
    background-color: variables.$color-minor_light;
    display: flex;
    justify-content: flex-end;

    img {
        // margin-right: 20%;
        // margin-left: 100px;
        width: 73%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 0%;

        @media screen and (max-width: variables.$bp-2) {
            width: 100%;
        }
    }

    @media screen and (max-width: variables.$bp-2) {
        position: relative;
        max-height: 380px;
        width: 100%;
    }

    @media screen and (max-height: variables.$bp-h-1) {
        max-height: 185px;
    }
} // ____#img-box

#info-box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: variables.$content-margin;

    h1 {
        max-width: 490px;
        margin-left: 30px;
        margin-top: 50px;
        text-shadow: 0 0 5px variables.$color-minor_light;

        @media screen and (max-width: variables.$bp-home-1) {
            font-size: 50px;
        }

        @media screen and (max-width: variables.$bp-home-2) {
            font-size: 40px;
        }

        @media screen and (max-height: variables.$bp-h-1) {
            line-height: 50px;
        }
    }

    #job-title {
        margin-top: 80px;
        padding: 40px clamp(40px, calc((0.375 * 100vw) - 312.5px), 100px) 40px 30px;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.2em;
        background-color: variables.$color-main;
        width: max-content;
        text-align: center;

        @media screen and (max-width: variables.$bp-2) {
            margin-top: 20px;
            padding: 30px 100px 30px 40px;
        }

        @media screen and (max-width: variables.$bp-home-1) {
            padding-right: 40px;
        }

        @media screen and (max-width: variables.$bp-home-2) {
            font-size: 18px;
        }

        @media screen and (max-width: variables.$bp-home-3) {
            padding-right: 0px;
            padding-left: 0px;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }

        @media screen and (max-width: variables.$bp-home-4) {
            letter-spacing: 0.1em;
        }

        @media screen and (max-height: variables.$bp-h-1) {
            padding-top: 22px;
            padding-bottom: 22px;
        }
    } // ____#job-title

    @media screen and (max-width: variables.$bp-2) {
        margin-top: -150px;
    }

    @media screen and (max-width: variables.$bp-home-1) {
        margin-top: -126px;
        margin-left: variables.$content-margin__small;
    }

    @media screen and (max-width: variables.$bp-home-2) {
        margin-top: -110px;
    }

    @media screen and (max-width: variables.$bp-home-3) {
        margin-left: 0px;
    }

    @media screen and (max-height: variables.$bp-h-1) {
        margin-top: -101px;
    }
} // ____#info-box

// .arrows {
//     position: absolute;
//     bottom: 10px;
//     left: 0;
//     right: 0;
//     margin: 0 auto;
//     width: 50px;
//     height: 37px;
// }

.arrows {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.arrow {
    width: 50px;
    height: 17px;
    animation: arrow 2000ms infinite;
    -moz-animation: arrow 2000ms infinite;
    -webkit-animation: arrow 2000ms infinite;

    path {
        stroke: variables.$color-minor_dark;
        fill: transparent;
        stroke-width: 2px;
    }
}

.arrow1 {
    animation-delay: 0ms;
    -moz-animation-delay: 0ms;
    -webkit-animation-delay: 0ms;
}

.arrow2 {
    animation-delay: 800ms;
    -moz-animation-delay: 800ms;
    -webkit-animation-delay: 800ms;
}

@keyframes arrow {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

@-webkit-keyframes arrow {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes arrow {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}